.game{
    font-family: 'gameria','helvetica';
    font-weight: 700;

}

.game .points {
    font-size: 2em;
    border: 1px solid #000;
    border-radius: 27px;
    background-color: #f8f4e4;
    padding: 10px 15px;
    font-weight: 100;
}

.game h1 {
    font-size: 4.5em;
    -webkit-text-stroke-width: 1.5px; /* largura da borda */
    -webkit-text-stroke-color: #f8f4e4; /* cor da borda */
    text-shadow: #000 0px 8px 10px ;
}

.game .tip {
    font-size: 2em;
    font-weight: normal;
    -webkit-text-stroke-width: 1.5px; /* largura da borda */
    -webkit-text-stroke-color: #ffd21dd9; /* cor da borda */
}

 .game h4 {
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}

.game .tries{
    font-weight: 100;
    font-size: 1.6em;
    -webkit-text-stroke-width: 0.75px; /* largura da borda */
    -webkit-text-stroke-color: #f8f4e4; /* cor da borda */
}

form {
    align-items: center;
    justify-content:center ;
    margin: 0 auto;
}

.word-container {
    border: 20px solid rgba(0, 0, 0, 0.503);
    display: flex;
    margin: auto;
    width: fit-content;
   
}

.letter, .blank-square{
    background-color: #f8f4e4;
    font-family: 'Helvetica';
    font-size: 70px;
    line-height: 1.6;
    width: 100px;
    height: 100px;
    border:5px solid #000;
    
}

.letter-container {
    font-family: 'verdana';
    justify-items: center;
}

 .game button {
    display: inline-block;
    border-radius: 62px;
    border-width: 2px;
    margin-top: 25%;
    padding: 10px 35px;
    background-color: #f8f4e4;
    color: #000;
    font-family: 'gameria';
    font-weight: 100;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor:pointer;
    transition: .4;
}

 .game button:hover {
    background-color:#ffd21dd9;
}

.game input {
    font-size: 4em;
    text-align: center;
    width:80px ;
    border: 2px solid #000;
    margin-right: 0.5em;
    text-transform: uppercase;

}

.wrong-letters-container p {
    font-family: 'gameria';
    font-size: 1.8em;
    font-weight: 700;
}

.wrong-letters-container span {
    font-family: 'helvetica';
    text-align: left;
    font-size: 1.2em;
    font-weight: 700;
  
}

@media (max-width: 768px){
   .game .points{
    font-size: 1.5em;
   }

   .game h1 {
    font-size: 2.3em;
   }

   .game .tip {
    font-size: 1.5em;
   }
   
  .game .tries{
    font-size:1.5em
  }

  .letter, .blank-square{
    background-color: #f8f4e4;
    font-family: 'Helvetica';
    font-size: 1.5em;
    width: 35px;
    height: 45px;
    border:3px solid #000;   
  }

  .word-container {
    width: fit-content
  }
  
  .game button {
    margin-top: 15%;
  }

  .game input {
    font-size: 2em;
    text-align: center;
    width:60px;
    height: 60px;
    border: 2px solid #000;
    margin-right: 0.5em;

  }
  
  .wrong-letters-container p{
    font-size: 1.2em;
  }
}