.start {
    font-family: gameria;
    font-weight: 900;
}

.start h1 {
    font-size: 8.5em;
    color: #000;
    -webkit-text-stroke-color: #f8f4e4;
    -webkit-text-stroke-width: 1.5px;
}

.start p {
    font-size: 3em;
    color:  #4e3f30;
    -webkit-text-stroke-color: #f8f4e4;
    -webkit-text-stroke-width: 1.5px;
}

.start button {
    font-family: gameria;
    display: inline-block;
    border-radius: 62px;
    border-width: 2px;
    margin-top: 15%;
    padding: 15px 55px;
    background-color: #f8f4e4;
    color: #000;
    font-weight: 400;
    font-size: 1.8em;
    text-transform: uppercase;
    cursor:pointer;
    transition: .4;
}

 .start button:hover {
    background-color:#ffd21dd9;
}