@font-face {
    font-family: 'gameria';
    src: url('./fonts/GAMERIA.ttf');
}

html,body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg,#0ca5b0 0%,#f8f4e4 120%);
}

